<% if current_user %>
  <h5>Hello <%= current_user.name.capitalize %></h5>
<% else %>
  <h5>Hello</h5>
<% end %>

<!-- this is the search feature -->

<%= form_tag(forum_questions_path, method: "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<% end %>



<!-- this is showing the most popular tags -->
<div id="tag_cloud">
  <% tag_cloud Question.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
<!-- this is showing the most popular tags -->

<%= link_to "", root_path, class: 'mdi-navigation-chevron-left' %>

<h4>Question feed</h4>

<% @questions.each do |question| %>
<ul>
<li><h4><%= link_to question.title, question_path(question.id) %>
<%= image_tag avatar_url(question.user, 35), class: "avatargravatar" %></h4>
<p>
    Tags: <%= raw question.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>
<% if current_user %>
  <p>
    <%= link_to 'Add an answer', new_question_answer_path(question) %>
  </p>
<% end %>
</li>
</ul>
<% end %>

<% if current_user %>
  <p>
<<<<<<< HEAD
    <%= link_to 'New Question', new_question_path %>
=======
    <%= link_to 'Add a question', new_question_path %>
>>>>>>> 291177dd5f3c68113fe2c019049f8cbb63c20e95
  </p>
<% end %>


