
<% if current_user %>
  <h5>Hello <%= current_user.name.capitalize %></h5>
<% else %>
  <h5>Hello</h5>
<% end %>


<!-- this is showing the most popular tags -->
<div id="tag_cloud">
  <% tag_cloud Question.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
<!-- this is showing the most popular tags -->


<h4>Question feed</h4>

<% @questions.each do |question| %>
<ul>
<li><h4><%= link_to question.title, question_path(question.id) %>
<%= image_tag avatar_url(question.user, 35), class: "avatargravatar" %></h4>
<p>
    Tags: <%= raw question.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>
<% if current_user %>
  <p>
    <%= link_to 'answer this question', new_question_answer_path(question) %>
  </p>
<% end %>
</li>
</ul>
<% end %>

<% if current_user %>
  <p>
    <%= link_to 'add a question', new_question_path %>
  </p>
<% end %>

