<!--
<%= form_for [@question, @answer] do |f| %>
<p>
  <%= f.label  :response %>
  <%= f.text_field :response %>
</p>
<p>
  <%= f.submit %>
</p>
<%= link_to "Back", :back %>
<% end %> -->

<div class="panel panel-info new-question">
  <div class="panel-heading">
    <h2 class="panel-title"><strong>Edit your answer</strong></h2>
  </div>
  <div class="panel-body">
    <%= form_for [@question, @answer], class: "form-horizontal" do |f| %>

    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Response</label>
      <div class="col-lg-10">
        <%= f.text_field :response ,class: "form-control"%>
      </div>
    </div>

    <%= button_tag class: "btn btn-material-pink btn-raised pull-right" do %>
        Edit your answer
      <div class="ripple-wrapper">
      </div>
    <% end %>
  </div>
  <% end %>
</div>

<div style="font-size: 22px;">
  <div class="container">
    <%= link_to "", questions_path, class: 'mdi-navigation-chevron-left', style: "font-size: 65px; padding-left: 15px;" %>
</div>
