

<%= form_for [@question, @answer] do |f| %>
<p>
  <%= f.label  :response %>
  <%= f.text_field :response %>
</p>
<p>
  <%= f.submit %>

</p>
<% end %>
<%= link_to "Back", question_path(@question) %>

