<!DOCTYPE html>
<html>
<head>
  <title>Amazing Grace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Bootstrap Material CSS -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900"
  type="text/css" rel='stylesheet'>
  <!-- font-family: 'Bitter' -->
  <link href='https://fonts.googleapis.com/css?family=Bitter:700' rel='stylesheet'
  type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body style="font-family: robotodraft; font-weight: 500;">
  <!-- NAVBAR START-->
  <div class="navbar navbar-material-light-blue">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-material-light-blue-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>" >
        <!-- <img src="http://i.imgur.com/YuorFks.png"/> -->
      </a>
    </div>
    <div class="navbar-collapse collapse navbar-material-light-blue-collapse">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li><a href="/logout">Log Out</a></li>
          <% else %>
          <li><a href="/login">Log in</a></li>
          <li><a href="/signup">Sign Up</a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- NAVBAR END-->
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
     <p><%= msg %></p>
    <% end %>
  <% end %>
  <%= yield %>
</body>
</html>
